<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="LLD"
        android:roundIcon="@android:drawable/presence_online"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidDev">

        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="" />

        <activity
            android:name=".MapsOsmActivity"
            android:exported="false"
            android:label="@string/title_activity_maps_osm" />
        <activity
            android:name=".Activity_Recycle_List"
            android:exported="false" />
        <activity
            android:name=".Activity_Spinner"
            android:exported="false" />
        <activity
            android:name=".Activity_List"
            android:exported="false" />
        <activity
            android:name=".Activty_Grid"
            android:exported="false" />
        <activity
            android:name=".Activty_ListGridSpinner"
            android:exported="false" />
        <activity
            android:name=".Activt_CardLayout"
            android:exported="false" />
        <activity
            android:name=".Activity_vibration"
            android:exported="false" />
        <activity
            android:name=".Activity_media"
            android:exported="false" />
        <activity
            android:name=".Activity_Zoo"
            android:exported="false" />
        <activity
            android:name=".Activity_chiffre"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Main1"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
